@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9b59b6;
}

.container {
    background-color: #fff;
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container .header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 5px;
}

.container .header span {
    font-size: 1.5rem;
    font-weight: 500;
}

.container form {
    padding: 20px 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container form .form-control {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}

.container form .form-control label {
    font-weight: 500;
    font-size: 1rem;
}

.container form .form-control input {
    height: 40px;
    outline: none;
    border: 2px solid #e0d5d5;
    border-radius: 3px 0px 0 3px;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
}

.container form .form-control .error-message {
    visibility: hidden;
    margin-top: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #e74c3c;
}

.container form .form-control i {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    font-size: 1.2rem;
    visibility: hidden;
}

.container form .form-control #show-password {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 0px;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: 2px solid #e0d5d5;
    border-left: none;
    border-radius: 0 3px 3px 0;
    outline: none;
    font-size: 1.1rem;
}

.container form .form-control #password {
    width: calc(100% - 40px);
}

.container form .form-control:nth-child(2) i {
    right: 50px;
}

.container form .form-control.error-icon #error-icon {
    visibility: visible;
}

.container form .form-control.success-icon #success-icon {
    visibility: visible;
}

.container form .form-control .send-button {
    height: 40px;
    cursor: pointer;
    background-color: #9b59b6;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 17px;
}

.container form .form-control.error input {
    border-color: #e74c3c;
}

.container form .form-control.error #show-password {
    border-color: #e74c3c;
}

.container form .form-control.success input {
    border-color: #2ecc71;
}

.container form .form-control.success #show-password {
    border-color: #2ecc71;
}

.container form .form-control.error .error-message {
    visibility: visible;
}

.fa-circle-check {
    color: #2ecc71;
}

.fa-circle-exclamation {
    color: #e74c3c;
}

.container .create-account {
    padding: 10px 40px;
    text-align: center;
    color: #111;
}

.container .create-account a {
    color: #111;
    transition: all .2s ease-in-out;
}

.container .create-account a:hover {
    color: #9b59b6;
}